.wrapper_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(167, 167, 167);
  height: 100vh;
  justify-items: center;
  align-items: center;
}

#ngf_div {
  grid-area: 2 / 2 / 3 / 3;
  
  font-size: 40px;
  position: relative;
  overflow-y: auto;
  height: 600px;
  max-height: 600px; /* Set a fixed height for the container */
}

#welcome_div {
  grid-area: 1 / 1 / 2 / 4;
   font-size: 60px;
}

.label {
  position: sticky;
  top: 0;
   z-index: 1;
}

#ngf_top {
  position: sticky;
  top: 0;
   z-index: 1;
  height: 130px;
}

.golfers_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.golfers_list li {
  margin-bottom: 8px;
}
