.main {
  color: black;
}

.wrapper_div {
  margin-left: 100px;
}


/* .wrapper_div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(167, 167, 167);
  height: 100vh;
  justify-items: center;
  align-items: center;
} */

/* .news_section {
  height: 100%;
  width: 100%;
  grid-area: 1 / 2 / 2 / 6;
  background-color: darkgrey;
  align-items: center;
  justify-items: center;
}
.news_section_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */
